@import "tailwindcss";

@theme {
  --font-sans:
    "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-urbanist: "Urbanist", sans-serif;

  --font-young-serif: "Young Serif", serif;
}

html,
body {
  @apply text-[14px] bg-[#F2F2F2] font-sans;
}

.container {
  @apply w-full mx-auto px-10 max-w-[1210px];
}

.button-layout{
  @apply flex items-center gap-[4px] px-[8px] py-[10px] text-[10px] text-white cursor-pointer rounded-[5px] w-fit;
}

.blueBtn {
  @apply bg-[#1150D5] shadow-[3px_3px_10px_0px_#FFFFFF33] text-[16px] w-[120px] px-[20px]; 
}

.cardBlueBtn {
  @apply bg-[#1150D5] shadow-[0px_4px_4px_0px_#00000040]; 
}

.cardBlackBtn {
  @apply bg-[#393A3C] shadow-[0px_4px_4px_0px_#00000040]; 
}

.cardYellowBtn {
  @apply bg-[#FFD801] shadow-[3px_3px_10px_0px_#00000033]; 
}

@keyframes magicWave {
  0% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }
  25% {
    transform: rotate(15deg) scale(1.05);
    opacity: 1;
  }
  50% {
    transform: rotate(0deg) scale(1.1);
    opacity: 0.9;
  }
  75% {
    transform: rotate(-15deg) scale(1.05);
    opacity: 1;
  }
  100% {
    transform: rotate(0deg) scale(1);
    opacity: 0.7;
  }
}

.magic-wave-1 {
  animation: magicWave 10s ease-in-out infinite;
}

.magic-wave-2 {
  animation: magicWave 12s ease-in-out infinite;
  animation-delay: 2s;
}
